<div class="container">
  <h1><img src="<%= image.thumbnail.url %>" class="img-circle" style="vertical-align: middle;" /><%= name %></h1>  
  <div style="font-family: 'Fanwood Text'; font-size: 16px; margin-left: 212px; margin-top: -80px"><%- description_html %></div>
  <div>
    <a href="/artist/edit/<%= id %>" class="btn btn-primary">Edit</a>
  </div>
</div>
